<section class="flex flex-col gap-8">
  <h1 class="text-3xl">
    Home page
  </h1>

  <ul class="flex gap-4">
    <li>
      <a href="/static-pages/about" class="text-blue-500 hover:underline">
        About
      </a>
    </li>

    <li>
      <a href="/static-pages/help" class="text-blue-500 hover:underline">
        Help
      </a>
    </li>
  </ul>
</section>